.blue_color {
  color: #ffffff;
  background: #1f3f7c;
}
/***************** Primary css *****************/
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  color: #000000;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Arial';
  overflow-x: hidden;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 24px;
}
h6 {
  font-size: 24px;
}
p {
  margin: 0 0 15px;
}
a {
  color: #dc543c;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
input,
textarea {
  border: 1px solid #9B9B9C;
  padding: 8px 15px;
  border-radius: 0;
}
ol {
  padding-left: 40px;
  list-style-type: lower-latin;
}
section {
  padding: 60px 0;
}
@media (min-width: 768px) and (max-width: 900px) {
  .container {
    width: 750px !important;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 960px;
  }
}
/***************** header css *****************/
#header .topbar {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 13px 0;
  color: #ffffff;
  text-transform: uppercase;
}
#header .topbar:focus {
  border: 0;
  outline: 0;
}
#header .topbar .top-menu {
  margin: 0;
}
#header .topbar a {
  color: #ffffff;
}
#header .primary-menu {
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 28px 0;
  font-family: 'Gill Sans MT';
  text-transform: uppercase;
  font-weight: 300;
}
#header .primary-menu .navbar-header .navbar-brand {
  font-size: 51px;
  color: #FFF;
}
#header .primary-menu .navbar-header .navbar-toggle {
  border: 0 !important;
}
#header .primary-menu .navbar-header .navbar-toggle:hover,
#header .primary-menu .navbar-header .navbar-toggle:focus,
#header .primary-menu .navbar-header .navbar-toggle:active {
  background-color: transparent;
}
#header .primary-menu .navbar-header .navbar-toggle .icon-bar {
  background-color: #FFF;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#header .primary-menu .navbar-toggle.in .icon-bar {
  width: 30px;
}
#header .primary-menu .navbar-toggle.in .icon-bar:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#header .primary-menu .navbar-toggle.in .icon-bar:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}
#header .primary-menu .navbar-toggle.in .icon-bar:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin: -8px 0 0;
}
#header .primary-menu .navbar-nav li a {
  font-weight: normal;
  font-size: 20px;
  color: #FFF;
  text-transform: uppercase;
}
#header .primary-menu .navbar-nav li:last-child a {
  padding-right: 0;
}
#header .primary-menu .navbar-nav li.current-menu-item a {
  background-color: transparent !important;
}
/* Cart */
.mini-cart-items {
  width: 200px;
  position: absolute;
  right: 0;
  top: 50px;
  opacity: 0;
  visibility: hidden;
  background: #FFF;
  z-index: 111;
  padding: 0 10px 10px;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0 2px 3px 0 rgba(1, 1, 1, 0.3);
  -moz-box-shadow: 0 2px 3px 0 rgba(1, 1, 1, 0.3);
  -ms-box-shadow: 0 2px 3px 0 rgba(1, 1, 1, 0.3);
  -o-box-shadow: 0 2px 3px 0 rgba(1, 1, 1, 0.3);
  box-shadow: 0 2px 3px 0 rgba(1, 1, 1, 0.3);
}
.mini-cart-items ul {
  list-style: none;
}
.mini-cart-items ul li {
  padding: 10px 0 !important;
  position: relative;
  border-bottom: 1px solid #ccc;
}
.mini-cart-items ul li a {
  color: #000 !important;
  font-weight: 600;
  font-size: 12px;
  margin-right: 20px;
}
.mini-cart-items ul li a img {
  width: 30px !important;
  height: auto !important;
  float: left !important;
}
.mini-cart-items ul li .remove {
  top: 15px;
  right: -5px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 16px;
  text-align: center;
  position: absolute;
  margin: 0 !important;
  color: #CA0C26 !important;
}
.mini-cart-items ul li .remove:hover {
  color: #ED202D !important;
  background: transparent;
}
.mini-cart-items ul li span.quantity {
  font-size: 12px;
  margin-right: 20px;
  display: block;
  color: #898987;
}
.mini-cart-items ul li.empty {
  color: #666;
  text-align: center;
  font-size: 12px;
  padding-top: 10px !important;
  border: 0 !important;
}
.mini-cart-items .total {
  margin: 10px 0;
  color: #000;
  font-weight: 600;
  font-size: 12px;
}
.mini-cart-items .total strong {
  float: left;
}
.mini-cart-items .buttons {
  display: inline-flex;
  align-items: center;
  margin: 0;
}
.mini-cart-items .buttons a {
  font-size: 12px;
  text-align: center;
  padding: 10px 12px;
  color: #FFF !important;
  background: #CA0C26;
  margin-right: 5px;
}
.mini-cart-items .buttons a:last-child {
  margin-right: 0;
}
@media (min-width: 768px) {
  .cart-toggler:hover .mini-cart-items {
    top: 33px;
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 768px) {
  #header .topbar {
    text-align: center;
  }
  #header .topbar .top-menu {
    margin: 10px 0 0;
    text-align: center;
  }
  #header .primary-menu .navbar-header .navbar-brand {
    font-size: 24px;
  }
  #header .primary-menu .navbar-nav li a {
    font-weight: 300;
    text-align: center;
  }
}
/***************** site-info css *****************/
.site-info {
  padding: 110px 0 60px;
  font-family: 'Gill Sans MT';
}
.site-info .site_title {
  color: #000;
  margin: 0;
  font-size: 90px;
  font-weight: 300;
  text-transform: uppercase;
}
.site-info .site-tagline {
  color: #333;
  font-size: 20px;
  font-weight: normal;
  margin: 0 0 55px;
  text-transform: uppercase;
}
.social-media {
  margin: 0;
}
.social-media li {
  padding: 0 10px;
}
.social-media li a {
  font-size: 30px;
  color: #231F20;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.social-media li a i[class*=fa-] {
  font-size: 24px;
  overflow: hidden;
}
.social-media li:hover a {
  color: #1E3F7C;
}
#footer .site-info {
  padding: 70px 0 50px;
}
#footer .site-info .site_title {
  color: #FFF;
  font-size: 65px;
}
#footer .site-info .site-tagline {
  color: #FFF;
  font-size: 20px;
  font-weight: 100;
  margin: 0 0 40px;
}
#footer .social-media li a {
  color: #FFF;
}
/***************** Home Page Categories *****************/
.category-list .sub-heading {
  color: #ca0c26;
  margin: 0 0 60px;
}
.category-list .sub-heading p {
  margin: 0;
  font-size: 18px;
  font-family: 'Arial';
  font-weight: 400;
  text-transform: uppercase;
}
.category-list .category-item {
  margin: 0 0 20px;
  list-style: none;
}
.category-list .category-item a {
  width: 100%;
  display: inline-flex;
  align-items: center;
}
.category-list .category-item a .category-logo {
  width: 120px;
  height: 113px;
  background: #ffffff;
  border: 1px solid #343434;
}
.category-list .category-item a .category-title {
  text-transform: uppercase;
  padding: 0 15px;
  width: 100%;
  text-align: center;
}
.category-list .category-item a .category-title h4 {
  margin: 0;
  color: #FFF;
  font-size: 30px;
  font-weight: normal;
  font-family: 'Gill Sans MT';
}
.category-list .category-item-footer {
  color: #898987;
  font-size: 20px;
  text-align: center;
  margin: 40px 0 150px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}
/***************** Page Css *****************/
.content-area {
  padding: 60px 0;
}
.header-image {
  min-height: 410px;
  min-height: 64.2vmin;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/************* Events **************/
#events {
  padding: 60px 0 120px;
}
#events .event-item {
  padding: 30px;
  margin: 0 0 30px;
  border: 1px solid #333333;
  font-family: 'HelveticaNeue LT 55 Roman';
  text-transform: uppercase;
  position: relative;
}
#events .event-item:before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  border-top-width: 7.5px;
  border-top-style: solid;
}
#events .event-item .artist {
  font-weight: 600;
  margin: 0 0 10px;
}
#events .event-item .misc-text {
  font-size: 15.5px;
  margin: 0 0 10px;
  display: block;
}
#events .event-item .venue {
  font-weight: 600;
  margin: 0 0 20px;
}
#events .event-item .date {
  font-size: 16px;
  margin: 0 0 27px;
}
#events .event-item .logo {
  width: 62px;
  height: 62px;
  margin: 0 auto;
}
/************* purchase **************/
#purchase {
  padding: 60px 0 120px;
}
#purchase .entry-header {
  padding: 0 0 80px;
}
#purchase .entry-header .entry-title {
  margin: 30px 0 60px;
  font-size: 28px;
}
#purchase .entry-header img {
  margin: 0 auto;
}
#purchase .purchase-item {
  padding: 20px 40px;
  margin: 0 0 30px;
  border: 1px solid #333333;
  font-family: 'HelveticaNeue LT 55 Roman';
  text-transform: uppercase;
  position: relative;
}
#purchase .purchase-item:before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  border-top-width: 7.5px;
  border-top-style: solid;
}
#purchase .purchase-item .title {
  font-weight: 600;
  margin: 0 0;
  line-height: 26px;
}
#purchase .purchase-item .price {
  font-size: 81px;
  font-weight: 600;
  color: #333333;
  line-height: 96px;
}
#purchase .purchase-item .remaining-quantity {
  margin: 0 0 25px;
}
#purchase .purchase-item .cart label {
  color: #969696;
  margin: 0;
}
#purchase .purchase-item .cart .quantity input.qty {
  max-width: 85px;
  height: 34px;
  margin: 0 20px 0;
  border-radius: 4px;
  border: 1px solid #CCCCCC;
}
#purchase .purchase-item .cart .button {
  color: #FFF;
  font-size: 16px;
  border: 0;
  padding: 6px 30px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#purchase .purchase-item .cart .button:hover,
#purchase .purchase-item .cart .button:focus {
  outline: 0;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) and (max-width: 900px) {
  #purchase .purchase-item {
    padding: 20px 15px;
  }
}
@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-flex;
    align-items: center;
  }
}
@media (max-width: 768px) {
  #purchase .purchase-item .cart .quantity input.qty {
    margin: 20px 0 20px;
  }
}
/************* Purchase With Images **************/
.with-images .entry-header {
  padding: 0 0 0 !important;
}
.with-images .entry-header .entry-title {
  margin: 0 0 60px !important;
}
.with-images .purchase-item-img {
  margin: 0 0 30px;
}
.cart-after-popup {
  max-width: 557px;
  padding: 40px 40px 25px;
  background: #FFF;
  text-transform: uppercase;
  font-family: 'HelveticaNeue LT 55 Roman';
}
.cart-after-popup .message {
  font-weight: 600;
  line-height: 28px;
  margin: 0 0 30px;
}
.cart-after-popup .message span {
  display: block;
  color: #ec1e31;
  margin: 0 0 20px;
}
.cart-after-popup .form-group {
  display: inline-flex;
  align-items: center;
}
.cart-after-popup .form-group .button {
  color: #FFF;
  font-size: 16px;
  border: 0;
  padding: 6px 30px;
  margin: 0 7.5px 15px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.cart-after-popup .form-group .button:hover,
.cart-after-popup .form-group .button:focus {
  outline: 0;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
}
