/* Gill Sans MT Normal and Normal Italic */
@font-face {
	font-family: 'Gill Sans MT';
	src: url('GillSansMT.eot');
	src: url('GillSansMT.eot?#iefix') format('embedded-opentype'),
		url('GillSansMT.woff') format('woff'),
		url('GillSansMT.ttf') format('truetype'),
		url('GillSansMT.svg#GillSansMT') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gill Sans MT';
	src: url('GillSansMT-Italic.eot');
	src: url('GillSansMT-Italic.eot?#iefix') format('embedded-opentype'),
		url('GillSansMT-Italic.woff') format('woff'),
		url('GillSansMT-Italic.ttf') format('truetype'),
		url('GillSansMT-Italic.svg#GillSansMT-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Gill Sans MT';
	src: url('GillSansMT-Bold.eot');
	src: url('GillSansMT-Bold.eot?#iefix') format('embedded-opentype'),
		url('GillSansMT-Bold.woff') format('woff'),
		url('GillSansMT-Bold.ttf') format('truetype'),
		url('GillSansMT-Bold.svg#GillSansMT-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Gill Sans MT';
	src: url('GillSansMT-BoldItalic.eot');
	src: url('GillSansMT-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('GillSansMT-BoldItalic.woff') format('woff'),
		url('GillSansMT-BoldItalic.ttf') format('truetype'),
		url('GillSansMT-BoldItalic.svg#GillSansMT-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}
 
@font-face {
	font-family: 'Gill Sans MT';
	src: url('GillSansMT-Light.eot');
	src: url('GillSansMT-Light.eot?#iefix') format('embedded-opentype'),
		url('GillSansMT-Light.woff') format('woff'),
		url('GillSansMT-Light.ttf') format('truetype'),
		url('GillSansMT-Light.svg#GillSansMT-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Gill Sans MT';
	src: url('GillSansMT-LightItalic.eot');
	src: url('GillSansMT-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('GillSansMT-LightItalic.woff') format('woff'),
		url('GillSansMT-LightItalic.ttf') format('truetype'),
		url('GillSansMT-LightItalic.svg#GillSansMT-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}


/* Gill Sans LightShadowed */
@font-face {
	font-family: 'Gill Sans LightShadowed';
	src: url('GillSans-LightShadowed.eot');
	src: url('GillSans-LightShadowed.eot?#iefix') format('embedded-opentype'),
		url('GillSans-LightShadowed.woff') format('woff'),
		url('GillSans-LightShadowed.ttf') format('truetype'),
		url('GillSans-LightShadowed.svg#GillSans-LightShadowed') format('svg');
	font-weight: 300;
	font-style: normal;
}


/* Gill Sans MT Condensed normal and Gill Sans MT Condensed Bold */
@font-face {
	font-family: 'Gill Sans MT Condensed';
	src: url('GillSansMT-Condensed.eot');
	src: url('GillSansMT-Condensed.eot?#iefix') format('embedded-opentype'),
		url('GillSansMT-Condensed.woff') format('woff'),
		url('GillSansMT-Condensed.ttf') format('truetype'),
		url('GillSansMT-Condensed.svg#GillSansMT-Condensed') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gill Sans MT Condensed';
	src: url('GillSansMT-BoldCondensed.eot');
	src: url('GillSansMT-BoldCondensed.eot?#iefix') format('embedded-opentype'),
		url('GillSansMT-BoldCondensed.woff') format('woff'),
		url('GillSansMT-BoldCondensed.ttf') format('truetype'),
		url('GillSansMT-BoldCondensed.svg#GillSansMT-BoldCondensed') format('svg');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Gill Sans MT Ultra';
	src: url('GillSansMT-UltraBold.eot');
	src: url('GillSansMT-UltraBold.eot?#iefix') format('embedded-opentype'),
		url('GillSansMT-UltraBold.woff') format('woff'),
		url('GillSansMT-UltraBold.ttf') format('truetype'),
		url('GillSansMT-UltraBold.svg#GillSansMT-UltraBold') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gill Sans MT Extra';
	src: url('GillSansMT-ExtraBold.eot');
	src: url('GillSansMT-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('GillSansMT-ExtraBold.woff') format('woff'),
		url('GillSansMT-ExtraBold.ttf') format('truetype'),
		url('GillSansMT-ExtraBold.svg#GillSansMT-ExtraBold') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gill Sans ExtraBoldDisplay';
	src: url('GillSans-ExtraBoldDisplay.eot');
	src: url('GillSans-ExtraBoldDisplay.eot?#iefix') format('embedded-opentype'),
		url('GillSans-ExtraBoldDisplay.woff') format('woff'),
		url('GillSans-ExtraBoldDisplay.ttf') format('truetype'),
		url('GillSans-ExtraBoldDisplay.svg#GillSans-ExtraBoldDisplay') format('svg');
	font-weight: 800;
	font-style: normal;
}


@font-face {
	font-family: 'Gill Sans MT Ultra Bold Cond';
	src: url('GillSansMT-UltraBoldCondensed.eot');
	src: url('GillSansMT-UltraBoldCondensed.eot?#iefix') format('embedded-opentype'),
		url('GillSansMT-UltraBoldCondensed.woff') format('woff'),
		url('GillSansMT-UltraBoldCondensed.ttf') format('truetype'),
		url('GillSansMT-UltraBoldCondensed.svg#GillSansMT-UltraBoldCondensed') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gill Sans BoldExtraCondensed';
	src: url('GillSans-BoldExtraCondensed.eot');
	src: url('GillSans-BoldExtraCondensed.eot?#iefix') format('embedded-opentype'),
		url('GillSans-BoldExtraCondensed.woff') format('woff'),
		url('GillSans-BoldExtraCondensed.ttf') format('truetype'),
		url('GillSans-BoldExtraCondensed.svg#GillSans-BoldExtraCondensed') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue LT 55 Roman';
	src: url('HelveticaNeueLT-Roman.eot');
	src: url('HelveticaNeueLT-Roman.eot?#iefix') format('embedded-opentype'),
		url('HelveticaNeueLT-Roman.woff') format('woff'),
		url('HelveticaNeueLT-Roman.ttf') format('truetype'),
		url('HelveticaNeueLT-Roman.svg#HelveticaNeueLT-Roman') format('svg');
	font-weight: normal;
	font-style: normal;
}
